@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --cor-personalizada-verde: #032541;
    --cor-personalizada-dourada: #1bb8d8;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--cor-personalizada-verde);
}

.active {
    color: var(--cor-personalizada-dourada);
}

/* Animação do botão */

.button-nav {
    position: relative;
    overflow: hidden;
    padding-bottom: 2px;
    transition: all 0.1s;
    place-items: center;
}

.button-nav:hover {
    scale: 1.2;
    cursor: pointer;
}

/* Fim da animação do botão */

.main{
    @apply min-h-screen flex items-center flex-col;
}